@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #079335, #bbce31);
    color: #0b0a0a;
    margin: 200px auto 0;
    border-radius:45px;
    padding: 40px 30px;
    text-align: center;
    border-right:rgb(77, 26, 196);
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    border: 0;
    outline: 0;
    background-color: #afa3e7;
    color: #0c0c0c;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
    flex: 1;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #cce6d4;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
    width: 20px;
    text-align: center;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 45px;
    font-weight: 500;
}
.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: -15px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}